@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 40px 0;
    z-index: 10000000000000;
    background-color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        &__list {
            display: flex;
        }
        &__list-item {
            padding: 2px;
        }
        &__list-item+.menu__list-item {
            margin-left: 33px;
        }
        &__list-link {
            color: $title;
            padding: 0 2px 1px;
            transition: all .5s;
            @extend %roboto-400;
            &:hover {
                color: $accent;
                border-bottom: 1px solid $accent;
                @extend %roboto-700;
            }
        }
        &__list-link--active {
            color: $accent;
            border-bottom: 1px solid $accent;
        }
    }
    .user-nav {
        display: flex;
        &__link {
            position: relative;
        }
        &__link+.user-nav__link {
            margin-left: 25px;
        }
        &__num {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $accent;
            top: -9px;
            right: -14px;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
        }
    }
}

footer {
    background-color: $bg;
}

.footer-top {
    border-bottom: 1px solid #000;
    padding: 70px 0 40px;
    display: flex;
    &__contact {
        width: 250px;
        margin-right: 30px;
    }
    &__nav {
        width: 170px;
        margin-right: 30px;
    }
    &__item-form {
        max-width: 470px;
    }
    &__logo {
        display: block;
        margin-bottom: 33px;
    }
    &__adress {
        display: block;
        margin-bottom: 14px;
        line-height: 24px;
    }
    &__email,
    &__phone {
        display: block;
        margin-bottom: 14px;
    }
    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__social-item+.footer-top__social-item {
        padding-left: 22px;
    }
    &__social-link {
        transition: all .5s;
        path {
            fill: $default;
        }
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 24px;
        margin-bottom: 37px;
    }
    &__item {
        margin-bottom: 14px;
    }
    &__text {
        margin-bottom: 30px;
        line-height: 24px;
    }
    &__form-input {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        max-width: 320px;
        width: 100%;
        border: none;
        padding: 12px 10px 12px 15px;
        &::placeholder {
            color: $default;
            font-size: 16px;
        }
    }
    &__form-btn {
        @extend %btn;
        border: none;
        cursor: pointer;
    }
}

.footer-bottom {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__copy {
        font-size: 12px;
    }
    &__accept {
        align-items: center;
        font-size: 12px;
        display: flex;
    }
    &__link {
        margin-left: 25px;
    }
}

.top-slider {
    background-image: url('../images/top-slider.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $bg;
    margin-top: 110px;
    padding-top: 75px;
    padding-bottom: 25px;
    &__container {
        max-width: 1560px;
    }
    &__items {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    &__contant {
        padding-left: 180px;
        padding-top: 125px;
    }
    &__title {
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;
    }
    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }
    &__link {
        @extend %btn;
        padding: 14px 36px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -50px;
        li {
            padding: 0 5px;
            line-height: 0;
            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border: 1px solid transparent;
                border-radius: 50%;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    background-color: $default;
                    transform: translate(-50%, -50%);
                }
            }
            &.slick-active {
                button {
                    border-color: $accent;
                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.categories-info {
    padding: 120px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
    }
    &::before {
        background-image: url('../images/decore/info-bg.svg');
        top: -48px;
        left: -48px;
        width: 120px;
        height: 121px;
    }
    &::after {
        background-image: url('../images/decore/info-bg2.svg');
        bottom: -18px;
        right: -18px;
        width: 65px;
        height: 52px;
    }
    &__item {
        background: #fff;
        width: 370px;
        padding: 60px 30px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        z-index: 1000000000;
    }
    &__item-title {
        margin: 35px 0 10px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }
}

.categories {
    &__items {
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 35px 0 0 40px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(51, 51, 51, 0.582);
            opacity: 0;
            transition: all 0.6s;
        }
        &:hover:before {
            box-shadow: 20px 0px 60px 0px rgba(31, 30, 30, 0.692);
            opacity: 0.5;
        }
        &:nth-child(1) {
            grid-row: span 2;
            display: flex;
            flex-direction: column;
            .categories__item-subtitle,
            .categories__link:hover {
                color: #5800e4;
                z-index: 1;
            }
            &:nth-child(1):hover {
                .categories__link {
                    text-align: center;
                    width: 150px;
                    padding: 10px 10px;
                    border-radius: 30px;
                    background-color: rgba(223, 210, 34, 0.884);
                }
            }
        }
        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            .categories__item-subtitle,
            .categories__link:hover {
                color: $accent;
            }
            &:nth-child(2):hover {
                .categories__link {
                    text-align: center;
                    width: 150px;
                    padding: 10px 10px;
                    border-radius: 30px;
                    background-color: rgba(102, 243, 109, 0.884);
                }
            }
        }
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            .categories__item-subtitle,
            .categories__link:hover {
                color: #ffb534;
            }
            &:nth-child(3):hover {
                .categories__link {
                    text-align: center;
                    width: 150px;
                    padding: 10px 10px;
                    border-radius: 30px;
                    background-color: rgba(160, 52, 223, 0.884);
                }
            }
        }
        &:nth-child(4) {
            display: flex;
            flex-direction: column;
            .categories__item-subtitle,
            .categories__link:hover {
                color: #34c3ff;
            }
            &:nth-child(4):hover {
                .categories__link {
                    text-align: center;
                    width: 150px;
                    padding: 10px 10px;
                    border-radius: 30px;
                    background-color: rgba(245, 175, 241, 0.884);
                }
            }
        }
    }
    &__item-subtitle {
        margin-bottom: 5px;
    }
    &__item-title {
        font-size: 22px;
        color: $title;
        margin-bottom: 16px;
    }
    &__link {
        width: 120px;
        z-index: 20;
        background: rgba(19, 18, 18, 0);
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
        transition: all .3s;
    }
}

.video-fashion {
    background-color: $bg;
    background-image: url('../images/decore/Pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 125px 0;
    &__inner {
        display: flex;
    }
    &__popup {
        margin-right: 65px;
        height: 480px;
        max-width: 535px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__content {
        width: 570px;
    }
    &__subtitle {
        padding-top: 75px;
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__title {
        text-align: left;
    }
    &__text {
        margin-bottom: 55px;
    }
    &__link {
        @extend %btn;
    }
}

@import 'media';